
@mixin arrow($top,$left,$deg){
    display: block;
    top: $top;
    left: $left;
    position: absolute;  
    width: 6px;
    height: 2px;
    background-color: black;
    transform: rotate($deg);
}

.tree{  
    background-color:$content_color;
    display: inline-block;
    padding: 20px;
    border-radius:10px ;
    box-shadow: 2px 2px 8px black;
    
    &__name{
        cursor: pointer;

        &.active{
            color:$c_active;
            background-color: $bg_active;
            border-radius:6px;
        }
        
        &.parent-style{
            font-weight: bold;
            font-size: larger;

            &.active{
                color: black;
                border: solid 1px black;
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }

    &__children{
        display: none;
        
        &.active{
            display: block;
        }
    }

    &__branch{
        margin-left: 20px;
      
    }

    &__arrow{
        position: relative;
        display: inline-block;
        border-radius:6px;
        width: 16px;
        height: 17px;

        &::before{
            content: '';
            @include arrow(9px,5px,45deg)
        }

        &::after{
            content: '';
            @include arrow(12px,5px,-45deg)
        }

        &.active{
            // background-color: $bg_active;
           
            &::before{
                content: '';
                @include arrow(12px,4px,45deg);
                // background-color:$c_active;
            }
    
            &::after{
                content: '';
                @include arrow(12px,7px,-45deg);
                // background-color:$c_active;
            }
            
        }
    }
}